In [1]:
import pandas as pd 
import numpy as np

In [5]:
df= pd.read_csv("D:\\Machine Learning\\airlines.csv")
df

,Airport.Code,Airport.Name,Time.Year,Statistics.Flights.Cancelled
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
1,BOS,"Boston, MA: Logan International",2003,138
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003,29
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003,73
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003,74
...,...,...,...,...
4329,ORD,"Chicago, IL: Chicago O'Hare International",2015,875
4330,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
4331,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
4332,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
4333,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216

In [6]:
df['Airport.Name'].unique()

array(['Atlanta, GA: Hartsfield-Jackson Atlanta International',
       'Boston, MA: Logan International',
       'Baltimore, MD: Baltimore/Washington International Thurgood Marshall',
       'Charlotte, NC: Charlotte Douglas International',
       'Washington, DC: Ronald Reagan Washington National',
       'Denver, CO: Denver International',
       'Dallas/Fort Worth, TX: Dallas/Fort Worth International',
       'Detroit, MI: Detroit Metro Wayne County',
       'Newark, NJ: Newark Liberty International',
       'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International',
       'Washington, DC: Washington Dulles International',
       'Houston, TX: George Bush Intercontinental/Houston',
       'New York, NY: John F. Kennedy International',
       'Las Vegas, NV: McCarran International',
       'Los Angeles, CA: Los Angeles International',
       'New York, NY: LaGuardia', 'Orlando, FL: Orlando International',
       'Chicago, IL: Chicago Midway International',
       'Miami, FL: Miami International',
       'Minneapolis, MN: Minneapolis-St Paul International',
       "Chicago, IL: Chicago O'Hare International",
       'Portland, OR: Portland International',
       'Philadelphia, PA: Philadelphia International',
       'Phoenix, AZ: Phoenix Sky Harbor International',
       'San Diego, CA: San Diego International',
       'Seattle, WA: Seattle/Tacoma International',
       'San Francisco, CA: San Francisco International',
       'Salt Lake City, UT: Salt Lake City International',
       'Tampa, FL: Tampa International'], dtype=object)

In [35]:
x=df['Airport.Name'].unique()
m=np.array(df['Airport.Name'])

Output 1-:

In [28]:
freq ={}
for i in range(len(m)):
    if m[i] in freq:
        freq[m[i]]+=1
    else:
        freq[m[i]] =1

{'Atlanta, GA: Hartsfield-Jackson Atlanta International': 154, 'Boston, MA: Logan International': 150, 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall': 150, 'Charlotte, NC: Charlotte Douglas International': 150, 'Washington, DC: Ronald Reagan Washington National': 150, 'Denver, CO: Denver International': 150, 'Dallas/Fort Worth, TX: Dallas/Fort Worth International': 150, 'Detroit, MI: Detroit Metro Wayne County': 150, 'Newark, NJ: Newark Liberty International': 150, 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International': 150, 'Washington, DC: Washington Dulles International': 150, 'Houston, TX: George Bush Intercontinental/Houston': 150, 'New York, NY: John F. Kennedy International': 150, 'Las Vegas, NV: McCarran International': 150, 'Los Angeles, CA: Los Angeles International': 150, 'New York, NY: LaGuardia': 150, 'Orlando, FL: Orlando International': 150, 'Chicago, IL: Chicago Midway International': 150, 'Miami, FL: Miami International': 150, 'Minneapolis, MN: Minneapolis-St Paul International': 150, "Chicago, IL: Chicago O'Hare International": 150, 'Portland, OR: Portland International': 149, 'Philadelphia, PA: Philadelphia International': 149, 'Phoenix, AZ: Phoenix Sky Harbor International': 137, 'San Diego, CA: San Diego International': 149, 'Seattle, WA: Seattle/Tacoma International': 149, 'San Francisco, CA: San Francisco International': 149, 'Salt Lake City, UT: Salt Lake City International': 149, 'Tampa, FL: Tampa International': 149}

Output 2-:

In [36]:
max(freq.keys()),max(freq.values())

('Washington, DC: Washington Dulles International', 154)

Output 3-:

In [38]:
min(freq.keys()),min(freq.values())

('Atlanta, GA: Hartsfield-Jackson Atlanta International', 137)